.btn {
	display: flex;
	gap: 5px;
	align-items: center;
	width: fit-content;
	padding: 0;
	font-weight: 500;
	font-family: var(--font-secondary);
	text-transform: uppercase;
	background: none;
	border: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	@include ui-link(var(--primary));

	@include mouse {

		&:hover {

			svg {
				transform: rotate(0);
			}
		}
	}

	svg {
		flex-shrink: 0;
		color: var(--secondary);
		transform: rotate(-45deg);
		transition: var(--transition);
	}
}
