.input {
	width: 100%;
	min-height: 36px;
	padding: 10px 0;
	color: var(--primary);
	line-height: 1.4;
	background: none;
	border: none;
	border-bottom: 1px solid var(--secondary);
	outline: none !important;
	transition: var(--transition);

	@include xs {
		font-size: 14px;
	}

	&:hover,
	&:focus {
		border-color: var(--primary);
	}

	&::placeholder {
		color: var(--secondary);
		font-family: inherit;
	}
}

.policy-check {
	display: flex;
	gap: 14px;
	align-items: center;
	color: var(--secondary);
	font-size: 12px;

	@include mouse {

		&:hover {

			.policy-check__switcher {
				border-color: var(--primary);
			}
		}
	}

	a {
		color: var(--primary);
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__switcher {
		position: relative;
		display: block;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		border: 1px solid var(--secondary);
		border-radius: 1px;
		transition: var(--transition);

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 14px;
			height: 7px;
			border-bottom: 2px solid var(--primary);
			border-left: 2px solid var(--primary);
			transform: translate(-50%, -40%) rotate(-45deg);
			visibility: hidden;
			opacity: 0;
			transition: var(--transition);
			content: "";
		}
	}

	&__text {

		@include xs {
			font-size: 8px;
		}
	}

	&__input:checked + &__switcher {
		border-color: var(--primary);
	}

	&__input:checked + &__switcher::before {
		transform: translate(-50%, -60%) rotate(-45deg);
		visibility: visible;
		opacity: 1;
	}
}
