.main-text {
	margin-top: 40px;

	@include md {
		margin-top: 30px;
	}

	@include xs {
		margin-top: 20px;
	}

	&__text {
		margin-top: 35px;
		color: var(--primary);
		line-height: 1.5;

		@include xs {
			margin-top: 20px;
			font-size: 14px;
		}

		a {
			word-wrap: break-word;
		}
	}
}
