.services-links {
	margin-top: 95px;

	@include md {
		margin-top: 75px;
	}

	@include xs {
		margin-top: 60px;
	}

	&__title {
		margin: 0;
	}

	&__links {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		counter-reset: services-links-number 0;
	}

	&__link {
		position: relative;
		gap: 15px;
		justify-content: space-between;
		width: 100%;
		min-height: 78px;
		padding: 15px 0 15px 25%;
		font-size: 20px;
		font-family: var(--primary);
		text-transform: capitalize;
		border-top: 1px solid var(--secondary);
		transition: all 0.3s ease;
		counter-increment: services-links-number 1;

		@include sm {
			min-height: 68px;
			font-size: 18px;
		}

		@include xs {
			align-items: flex-end;
			min-height: auto;
			padding: 40px 0 14px 0;
			font-size: 15px;
		}

		@media (hover: hover) {

			&:hover {
				transform: translateX(5px);

				svg {
					transform: translateX(5px);
				}
			}
		}

		&:last-child {
			border-bottom: 1px solid var(--secondary);
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			color: var(--primary);
			font-weight: 500;
			font-size: 20px;
			transform: translateY(-50%);
			content: counter(services-links-number, decimal-leading-zero);

			@include xs {
				top: 14px;
				color: var(--secondary);
				font-size: 14px;
				transform: none;
			}
		}

		svg {
			transform: none;

			@include xs {
				width: 18px;
				height: auto;
			}
		}
	}
}
